@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
    --font-messiri: 'El Messiri', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-inria: 'Inria Sans', sans-serif;
    --font-tajawal: "Tajawal", sans-serif;

    --color-primary: hsl(201 96% 32%);
    
    --color-earth-100: oklch(95.88% 0.0086 84.57);
    --color-earth-200: oklch(89.44% 0.025 91.63);
    --color-earth-300: oklch(81.41% 0.0434 92.25);
    --color-earth-400: oklch(73.8% 0.0599 89.63);
    --color-earth-500: oklch(71.21% 0.0593 81.68);
    --color-earth-600: oklch(57.54% 0.0636 63.46);
    --color-earth-700: oklch(53.63% 0.0609 53.3);
    --color-earth-800: oklch(45.64% 0.0533 47.51);
    --color-earth-900: oklch(36.76% 0.0386 56.73);

    --color-navy-50: oklch(95.43% 0.014 264.50);
    --color-navy-100: oklch(88.67% 0.0355 264.38);
    --color-navy-200: oklch(78.54% 0.0699 246.77);
    --color-navy-300: oklch(71.11% 0.1058 251.51);
    --color-navy-400: oklch(64.69% 0.1332 262.88);
    --color-navy-500: oklch(48.45% 0.172 272.39);
    --color-navy-600: oklch(42.54% 0.1525 273.45);
    --color-navy-700: oklch(34.81% 0.1342 278.99);
    --color-navy-800: oklch(28.5% 0.0929 274.72);
    --color-navy-900: oklch(23.16% 0.0506 266.11);

    --color-cgray-100: oklch(92.1% 0.0111 211.04);
    --color-cgray-200: oklch(82.18% 0.0184 214.4);
    --color-cgray-300: oklch(68.02% 0.0255 209.82);
    --color-cgray-400: oklch(52.34% 0.0246 211.13);
    --color-cgray-500: oklch(41.35% 0.023 208.79);
    --color-wgray-100: oklch(92.28% 0.0116 84.58);
    --color-wgray-200: oklch(82.35% 0.0188 78.22);
    --color-wgray-300: oklch(68.26% 0.0265 83.4);
    --color-wgray-400: oklch(50.95% 0.0264 84.56);
    --color-wgray-500: oklch(41.54% 0.0242 84.53);

    --color-gold-100: oklch(97.78% 0.0239 85.79);
    --color-gold-200: oklch(96.76% 0.0673 99.32);
    --color-gold-300: oklch(91.43% 0.0877 90.36);
    --color-gold-400: oklch(87.9% 0.1226 85.22);
    --color-gold-500: oklch(80.73% 0.168 76.75);
    --color-gold-600: oklch(73.82% 0.1508 77.63);
    --color-gold-700: oklch(62.96% 0.1297 77.34);
    --color-gold-800: oklch(50.68% 0.0981 80.4);
    --color-gold-900: oklch(31.26% 0.0636 81.58);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

